@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Inter:wght@300;400;500;600;700;800;900&family=Nunito:wght@300;400;500;600;700;800;900&family=Outfit:wght@400;700&family=Roboto:wght@400;500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Inter:wght@300;400;500;600;700;800;900&family=Nunito:wght@300;400;500;600;700;800;900&family=Outfit:wght@300;400;500;700&family=Roboto:wght@400;500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
a {
  text-decoration: none;
  display: block;
}
.subtitle {
  font-size: 6px;
  line-height: 8px;
  font-weight: 400;
  letter-spacing: 1%;
  color: #79819a;
  @media (max-width: 577px) {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
  }
}
.subtitle-text {
  font-size: 7px;
  line-height: 9px;
  font-weight: 500;
  color: #47516b;

  @media (max-width: 577px) {
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
  }
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}
.gap-8 {
  gap: 10px;
}
.gap-10 {
  gap: 10px;
}
.gap-12 {
  gap: 12px;
}
